.form-container {
  display: flex;
  flex-direction: column; /* Stack boxes vertically */
  gap: 1rem; /* Add spacing between the boxes */
  align-items: center; /* Center-align content */
  width: 100%;
}

.form-box-graph {
  width: 80%; /* Set a consistent width */
  border: 0px solid #ccc; /* Add a border for visual separation */
  border-radius: 15px; /* Round corners */
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #3d3d3d;
  color: #fcaee9; /* Changed to your desired text color */
}

.small-box {
  height: 150px; /* Make the average data box shorter */
  font-size: 14px; /* Adjust font size */
}

.large-box {
  height: 300px; /* Make the graph box twice as tall */
  font-size: 16px; /* Adjust font size for the graph */
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.5rem; /* Slightly larger header font size */
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.5rem;
  font-size: 1rem;
}

td:first-child {
  font-weight: bold;
  text-align: left;
}

td:last-child {
  text-align: right;
}
