body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #66588b, #8e4a6f 60%, #716068 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
